<html>
    <head>
      {% if title %}
      <title>{{ title }} - Inventur</title>
      {% else %}
      <title>Inventur</title>
      {% endif %}
    </head>
    <body>
        <div>
          Inventur:
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('organisations') }}">Organisations</a>
          {% if current_user.is_anonymous%}
          <a href="{{ url_for('login') }}">Login</a>
          <a href="{{ url_for('register') }}">Register</a>
          {% else %}
          <a href="{{ url_for('logout') }}">Logout</a>
          <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
          {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
