{% extends "base.html" %}

{% block content %}
  <h1>
    Category {{category.name}}
  </h1>
  <p>
    Organisation: <a href="{{ url_for('organisation', name=organisation.name) }}">{{ organisation.name }}</a>
  </p>

  <h2>
    Description
  </h2>
  <p>
    {{ category.description }}
  </p>

  {% if current_user.in_organisation(organisation) %}
  <p><a href="{{ url_for('delete_category', org_name=organisation.name, cat_name=category.name) }}"> Delete this category </a></p>
  {% endif %}

  <h2>
    Objects
  </h2>

  {% set objects = category.inventoryobjects %}
  {% include "object_table.html" %}


{% endblock %}
