{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate id="form">{{ form.hidden_tag() }}</form>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-card mdl-shadow--2dp" style="width:512px;">
            <div class="mdl-card__title">
                <h2>Create an organisation</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="name" name="name" form="form">
                    <label class="mdl-textfield__label" for="name">Name</label>
                </div>
            </div>
            <div class="mdl-card__actions">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        form="form">
                    Create
                </button>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>

{% endblock %}
