{% extends "base.html" %}

{% block content %}
  <h1>
    Organisation {{organisation.name}}
  </h1>
  <h2>Nutzer</h2>
  <table>
    <tr style="font-weight: bold;">
      <td>Name</td>
      <td>Email</td>
      <td>Rank</td>
    </tr>
    {% for user_rel in organisation.user %}
    <tr>
        <td><a href="{{ url_for('user', username=user_rel.user.username) }}">{{ user_rel.user.username }}</a></td>
        <td><a href="mailto:{{user_rel.user.email}}">{{user_rel.user.email}}</a></td>
        <td>{{ user_rel.rank.name }}</td>
    </tr>
    {% endfor %}
  </table>
  <h2>Objekte</h2>
  {% include "object_table.html" %}

  <h2>Categories</h2>
  <table>
    <tr style="font-weight: bold;">
      <td>Name</td>
      <td>Description</td>
      <td>Count of Objects</td>
    </tr>
    {% for cat in organisation.categories %}
    <tr>
      <td><a href="{{ url_for('category', org_name=organisation.name, cat_name=cat.name) }}"> {{ cat.name }} </a></td>
      <td>{{ cat.description }}</td>
      <td>{{ cat.inventoryobjects|length }}</td>
    </tr>
    {% endfor %}
  </table>


{% endblock %}
