{% extends "base.html" %}

{% block content %}
  <h1>
    Organisation {{organisation.name}}
  </h1>
  <h2>Nutzer</h2>
  <table>
    <tr style="font-weight: bold;">
      <td>Name</td>
      <td>Email</td>
    </tr>
    {% for user_rel in organisation.user %}
    <tr>
        <td><a href="{{ url_for('user', username=user_rel.user.username) }}">{{ user_rel.user.username }}</a></td>
        <td><a href="mailto:{{user_rel.user.email}}">{{user_rel.user.email}}</a></td>
    </tr>
    {% endfor %}
  </table>


{% endblock %}
