{% extends "base.html" %}

{% block content %}
  <h1>
    Organisation {{organisation.name}}
  </h1>

  {% if current_user.in_organisation(organisation) %}
  <p><a href="{{ url_for('leave_organisation', name=organisation.name) }}"> Leave this Organisation </a></p>
  {% endif %}

  {% if not current_user.in_organisation(organisation) %}
  <p><a href="{{ url_for('join_organisation', name=organisation.name) }}"> Join this Organisation </a></p>
  {% endif %}

  <h2>User</h2>
  <table>
    <tr style="font-weight: bold;">
      <td>Name</td>
      <td>Email</td>
      <td>Rank</td>
      {% if organisation.get_rank(current_user).add_users %}
      <td></td>
      {% endif %}
    </tr>
    {% for user_rel in organisation.user %}
    <tr>
        <td><a href="{{ url_for('user', username=user_rel.user.username) }}">{{ user_rel.user.username }}</a></td>
        <td><a href="mailto:{{user_rel.user.email}}">{{user_rel.user.email}}</a></td>
        <td>{{ user_rel.rank.name }}</td>
        {% if organisation.get_rank(current_user).add_users %}
        <td><a href="{{ url_for('remove_user', name=organisation.name, username=user_rel.user.username) }}">Remove User</a></td>
        {% endif %}
    </tr>
    {% endfor %}
  </table>
  <h2>Objects</h2>
  {% include "object_table.html" %}

  <h2>Categories</h2>
  {% if current_user.in_organisation(organisation) %}
  <p><a href="{{url_for('add_category', name=organisation.name)}}">Create Category</a></p>
  {% endif %}
  <table>
    <tr style="font-weight: bold;">
      <td>Name</td>
      <td>Description</td>
      <td>Count of objects</td>
    </tr>
    {% for cat in organisation.categories %}
    <tr>
      <td><a href="{{ url_for('category', org_name=organisation.name, cat_name=cat.name) }}"> {{ cat.name }} </a></td>
      <td>{{ cat.description }}</td>
      <td>{{ cat.inventoryobjects|length }}</td>
    </tr>
    {% endfor %}
  </table>

  <h2>Statuses</h2>
  {% if current_user.in_organisation(organisation) %}
  <p><a href="{{url_for('add_status', name=organisation.name)}}">Create Status</a></p>
  {% endif %}
  <table>
    <tr style="font-weight: bold;">
      <td>Name</td>
      <td>Description</td>
      <td>Count of objects</td>
    </tr>
    {% for status in organisation.statuses %}
    <tr>
      <td><a href="{{ url_for('status', org_name=organisation.name, status_name=status.name) }}"> {{ status.name }} </a></td>
      <td>{{ status.description }}</td>
      <td>{{ status.inventoryobjects|length }}</td>
    </tr>
    {% endfor %}
  </table>


{% endblock %}
