{% extends "base.html" %}

{% block content %}
  <h1>
    {{user.username}}'s Profile
  </h1>
  <p>
    E-Mail: <a href="mailto:{{user.email}}">{{user.email}}</a>
  </p>

  {% if organisations %}
  <h2>Mitglied in</h2>
   <table>
      <tr style="font-weight: bold;">
        <td>Name</td>
        <td>Nutzeranzahl</td>
      </tr>
      {% for organisation in organisations %}
      <tr>
          <td><a href="{{ url_for('organisation', name=organisation.name) }}">{{ organisation.name }}</a></td>
          <td>{{ organisation.user_count() }}</td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if user == current_user %}
  <p><a href="{{ url_for('usersettings') }}">Edit your profile</a></p>
  {% endif %}

{% endblock %}
