{% extends "base.html" %}

{% block content %}
  <h1>
    {{user.username}}'s Profile
  </h1>
  <p>
    E-Mail: <a href="mailto:{{user.email}}">{{user.email}}</a>
  </p>


  <h2>
    Borrowed Objects
  </h2>
  {% for inventoryobject in user.borrowed_objects %}
  <p>
    <a href={{ url_for('inventoryobject', id=inventoryobject.id) }}> {{ inventoryobject.article }} </a>
  </p>
  {% endfor %}

  {% if user == current_user %}
  <p><a href="{{ url_for('usersettings') }}">Edit your profile</a></p>
  {% endif %}

{% endblock %}
